<mat-card>
    <form (submit)="onAddCar(carForm)" #carForm="ngForm">
        <mat-form-field>
            <label>Car Make</label>
            <input 
                matInput
                tyoe="text"
                name="Make"
                ngModel
                required
                #title="ngModel">
        </mat-form-field>
        
        <mat-form-field>
            <label>Car Model</label>
            <textarea
                matInput
                name="Model"
                ngModel
                required
                #content="ngModel"></textarea>
        </mat-form-field>
       
        <mat-form-field>
            <label>Engine size</label>
            <textarea
                matInput
                name="Engine"
                ngModel
                required
                #content="ngModel"></textarea>
        </mat-form-field>
       
        <mat-form-field>
            <label>Year</label>
            <textarea
                matInput
                name="Year"
                ngModel
                required
                #content="ngModel"></textarea>
        </mat-form-field>
<br>



 <button
 mat-raised-button
        color="accent"
        type="submit"> Save Car</button>
        
    </form>
   
</mat-card>
