
   
   <mat-toolbar class="backToolbar"> 
    <mat-toolbar-row>
            <span  class="title-center">
        My Car database
    </span>
    
      </mat-toolbar-row>
      <mat-toolbar-row>
  <button mdbBtn type="button" gradient="purple" rounded="true" mdbWavesEffect [routerLink]="['/']">Home</button>
  <button mdbBtn type="button" gradient="aqua" rounded="true" mdbWavesEffect [routerLink]="['/create']">Add a car!</button>
  <button mdbBtn type="button" gradient="purple" rounded="true" mdbWavesEffect [routerLink]="['/read']">View all cars!</button> 
  <!-- <button mdbBtn type="button" gradient="aqua" rounded="true" mdbWavesEffect [routerLink]="['/search']">Search</button> -->
</mat-toolbar-row>
 </mat-toolbar>
 


<router-outlet></router-outlet>