
<mat-card>
    <mat-form-field>
        <mat-select [(ngModel)] = "selectedMake" name = "Make" required>
            <mat-option *ngFor = "let Make of Make" [value] = "Make">
            {{Make}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-button (click)="SearchByMake(selectedMake)" >Search by Make</button>
    <h1>{{cars.length}} Car(s) found!</h1>
</mat-card>

<mat-accordion *ngFor="let car of MyCars">
    <mat-expansion-panel [expanded]="false" >
        
        <mat-expansion-panel-header>
   
            <mat-panel-title>
                <h3> {{ car.Make }} </h3>
            </mat-panel-title>

            <mat-panel-description>
                <h3>{{ car.Model }}</h3>
            </mat-panel-description>
        
            <mat-panel-description>
                <h3>{{ car.Engine }}</h3>
            </mat-panel-description>

            <mat-panel-description>
                <h3>{{ car.Year }}</h3>
            </mat-panel-description>
    
        </mat-expansion-panel-header>

        <mat-action-row>
           	<button mat-button [routerLink]="['/edit', car._id]" color="primary">EDIT</button>
            <button mat-button (click)="onDelete(car._id)" color="warn">DELETE</button>
        </mat-action-row>

    </mat-expansion-panel>
</mat-accordion>