
<div class="Bgcolor">
<h1 style="text-align:center">Welcome the car database!</h1>

<p style="text-align:center">This application will be used for inputing your favourite cars,
    along with the engine size and year of the particular Model of vehicle you have inputted.
</p>


 <div class="btn-group btn-group-lg" role="group" aria-label="Basic example" style="text-align:center">

    <button mdbBtn type="button" gradient="aqua" size="lg" class="waves-light" [routerLink]="['/create']" mdbWavesEffect>Create</button>
    <button mdbBtn type="button" gradient="purple" size="lg" class="waves-light" [routerLink]="['/read']" mdbWavesEffect>Read</button>
    <!-- <button mdbBtn type="button" gradient="purple" size="lg" class="waves-light" [routerLink]="['/search']" mdbWavesEffect>Search</button> -->
 
<br><br>
    <img  src="../assets/img/Audi.jpg">
        <br><br>
    <img  src="../assets/img/BMW.jpg">
        <br><br>
    <img src="../assets/img/Diablo.jpg">
        <br><br>
    <img src="../assets/img/Ferrari.jpg">
        <br><br>
    <img src="../assets/img/Ford.jpg">
        <br><br>
    <img src="../assets/img/nissan.jpg">

</div>

</div>

